[2014-11-24 09:25] vvo opened #1 "Cutting parts of long movies takes ages"
Say you want to cut "hasta la vista, baby" from Terminator 2.

It will be very long because gifify will create a read stream from the movie and pipe it to ffmpeg.

If the sentence is at 1,2gb of the movie then we pipe 1.2gb for nothing.

I expect ffmpeg to be more clever when dealing with the file itself, so we should do that, give the file to
ffmpeg input as `-i file`.

We will not be able to do

[2014-11-24 09:25] vvo opened #2 "[mov,mp4,m4a,3gp,3g2,mj2 @ 0x21f80a0] stream 0, offset 0xa8: partial file"
Using this video http://techslides.com/demos/sample-videos/small.mp4

You will get this error:

`[mov,mp4,m4a,3gp,3g2,mj2 @ 0x21f80a0] stream 0, offset 0xa8: partial file`

The problem explained: http://superuser.com/a/479064/35651

User solution:

Run `mp4box -hint` on the movie file before passing it to gifify.

Gifify solution, if the user gives us the movie file on the command line (gifify mov

[2014-11-24 12:21] axgle opened #3 "gifsicle --version LCDF Gifsicle 1.86"
gifsicle: unrecognized option ‘--lossy=80’

[2014-11-24 12:39] #3 closed, assigned to nobody

[2014-11-24 21:53] vvo opened #4 "support subtitles"

[2014-11-24 21:53] vvo opened #5 "Check dependencies only in cli"
And turn the programmatic API to non async

[2014-11-24 22:33] #1 closed, assigned to nobody

[2014-11-24 22:33] #4 closed, assigned to nobody

[2014-11-24 22:33] #5 closed, assigned to nobody

[2014-11-24 22:40] #2 closed, assigned to vvo

[2014-11-25 11:35] gregberge opened #6 "Gifify des idées de génie !"

[2014-11-25 11:36] #6 closed, assigned to nobody

[2014-12-01 13:14] jmeyo opened #8 "Trying to add subtitles"
Hi,
I tried to mix a subtitles with my gif, and somehow it didn't work

[code]

My imagemagick supports lots of format by default :

[code]

[2014-12-01 16:27] #8 closed, assigned to nobody

[2014-12-17 11:35] ryanmjacobs opened #9 "gifsicle: unrecognized option ‘--lossy=80’"
Running:

[code]

Generates the error:

[code]

[2014-12-17 14:22] pixelastic opened #10 "`no decode delegate for this image format`"
Hello,

I just tried to use gifify to extract a `gif` from a `mp4` video I downloaded from YouTube, and got the following error:

[code]

I'm on Ubuntu, with the following dependency versions:

[code]

[code]

[code]

Note that I've installed `gifsicle` from the `giflossy` repository. I'm not sure where the issue lies.

[2014-12-18 01:24] #9 closed, assigned to nobody

[2014-12-19 12:47] #10 closed, assigned to nobody

[2015-01-04 12:25] fabianod opened #11 "gifify not working after installation!"
I'm using Ubuntu 14.04 64 bits and after install all dependencies and gifify, de program is not working!

By not working I mean, when I type gifify <ENTER> it returns nothing. And the same thing happens when I use a real command line, trying to convert a file.

This behavior started after the installation of the module node, before this procedure, my attempts to run the program resulted in a error

[2015-01-05 05:21] norpol commented on #11
Looks like a 'fuck up' with your environment variables, or your nodejs installation. Do you've got an execute-able file under `/usr/bin/node` if not you can also type on your CLI `which node`, this will look-up if node is somewhere else?
Try also `apt-get install nodejs-legacy`.
More details are also here https://github.com/atom/atom/issues/2025 .

[2015-01-05 14:55] fabianod commented on #11
Tried to re-install the nodejs module with no sucess, but after installing the nodejs-legacy it worked like a charm!

Thank you very much!

[2015-01-05 16:15] #11 closed

[2015-01-14 15:31] dannguyen opened #12 "Partial compatibility with avconv, except for the "to" option"
I'm working from an Ubuntu 14.04 installation that is using libav/avconv and I won't be able to install ffmpeg.

So I was able to symlink avconv to ffmpeg, and most of the basic functionality of giffify works, including:

                        gifify test.mp4 --resize:300:-1 --from 5 -o test.gif

However, when specifying the `to` option, I get this error:

[code]
The error comes from imagemagick

[2015-01-14 16:53] vvo commented on #12
Please give me the mp4 and command failing command line so I can test on my system

[2015-01-14 19:09] dannguyen commented on #12
Strange...doesn't seem to be an issue specifically with `--to`, but in the way flags are parsed. For example, this works on my system:

[code]

This works
[code]

This does not:

[code]

[2015-01-14 20:29] mentierd opened #13 ""--lossy=80,--colors 80,..." - unrecognized"
There is clearly an issue with the latest gifsicle build.  It turns out that the --lossy and --colors are no longer supported in the cli.  I found that the issue for gifify resides in index.js @ ln# 165. Not sure why you would publish a wrapper library that is suppose to support a forked version of gifsicle. Be more clear in your documentation.

function computeGifsicleArgs(opts) {
  // Gifsicle o

[2015-01-15 06:28] vvo commented on #12
![piped-puppies-test-3](https://cloud.githubusercontent.com/assets/123822/5753305/2d823b06-9c87-11e4-9741-6d7aedd636ee.gif)

[code]

So it works but not the way you expect, you have to first download the mp4 if you want
to cut from 0 to 1.

Because ffmpeg will get the stream of your mp4, will try to cut from 0 to 1 and because your are streaming the download to gifify, it fails. Surely because whe

[2015-01-15 06:29] vvo commented on #13
Hi @mentierd it's written in the readme that you should install giflossy: https://github.com/vvo/gifify/blob/master/README.md#requirements

[2015-01-15 06:29] #13 closed

[2015-01-16 15:31] dannguyen commented on #12
Thanks for looking into this...your solution (to not pipe directly from curl) did work, but only when I tried it from OS X (which has ffmpeg). Trying it on my Ubuntu system, I get the same error has before.

One thing I just noticed...on my Ubuntu system, I'm using gifify 2.1.0. On OS X, I'm on 2.0.0 (which is the latest via Homebrew).. If I have some time later today I'll try to run 2.0.0 on my U

[2015-01-28 09:08] #12 closed

[2015-01-31 18:22] zwhitchcox opened #15 "Error"
I get this error
[code]
whenever I try to use this.

I installed all the dependencies.

[2015-01-31 18:25] vvo commented on #15
you need giflossy as stated in the readme

[2015-01-31 18:25] #15 closed

[2015-01-31 18:26] zwhitchcox commented on #15
I installed giflossy

[2015-01-31 18:30] zwhitchcox commented on #15
Nevermind, I got it

[2015-01-31 20:26] vvo commented on #15
where in the readme?

[2015-01-31 20:36] zwhitchcox commented on #15
Other than that though, it works great! Good job

[2015-01-31 20:42] vvo commented on #15
coooool! nice!

[2015-02-06 09:35] asafg84 opened #17 "keep getting an error"
Hi,
I keep getting this error when using gifify:

events.js:53
EventEmitter.prototype.emit = function emit(type) {
                                           ^
RangeError: Maximum call stack size exceeded

I'm running your get started example.

I think it has to do with the ffmpeg module dependency because when im trying to convert via shell I also get an error:

$ gifify inputs/mov.webm -o output

[2015-02-06 10:17] vvo commented on #17
asaf can you provide me with:
- the JavaScript code you are using which use the gifify API
- the video file your are trying to convert to GIF

So that I can reproduce your problem, thanks

[2015-02-06 10:24] asafg84 commented on #17
Sure,

js code

var fs = require('fs');
var gifify = require('gifify');
var path = require('path'),
    input_path = './uploads',
    output_path = './outputs';

var input = path.join(input_path, 'toGif.webm');
var output = path.join(output_path, 'toGif.gif');

var gif = fs.createWriteStream(output);

var options = {
    resize: '200:-1',
    from: 30,
    to: 35
};

gifify(input, options).pipe(gi

[2015-02-06 11:12] vvo commented on #17
Can you upload it somewhere still?

[2015-02-06 11:19] asafg84 commented on #17
https://drive.google.com/file/d/0B1aznL_n6b7EYWoxRzdHem9SeTg/view?usp=sharing

[2015-02-16 06:26] ttback opened #18 "gifsicle: unrecognized option ‘--lossy=80’"
just trying to run a simple `gifify vid.mp4 -o screencast.gif and ran into
[code]
Not sure why...

[2015-02-16 07:49] vvo commented on #18
You need giflossy: https://github.com/vvo/gifify#requirements

have fun

[2015-02-16 23:10] maxogden opened #19 "weird gif output"
using:

- yosemite
- gifsicle-1.82.1-lossy (from [here](https://github.com/pornel/giflossy/releases/tag/lossy%2F1.82.1))
- ffmpeg version 2.1.4 (from brew)
- ImageMagick 6.9.0-3 Q16 x86_64 2015-01-09 (from brew)

here's what I get from a .mov recorded with Quicktime:

[code]
![recording mov](https://cloud.githubusercontent.com/assets/39759/6220639/9930a282-b5ed-11e4-95c2-be6460005d53.gif)

[2015-02-16 23:15] vvo commented on #19
Hi @maxogden, so you are not happy with the output scaling I guess?

Can you send me the .mov so I can test for myself? Thanks

[2015-02-16 23:22] maxogden commented on #19
@vvo here ya go: http://max.ic.ht/dropbox/bucket/recording.mov

that .mov is created from the builtin Quicktime Player > File > New Screen Recording

[2015-02-16 23:26] vvo commented on #19
I am a linux guy, talk to me about quicktime I will talk to you about realplayer ![](http://images.br.sftcdn.net/br/scrn/24000/24601/realplayer-11.jpg).

Looking at your issue.

[2015-02-16 23:27] maxogden commented on #19
AHHH SORRY I am stupid. I had the [original gifify](https://gist.github.com/SlexAxton/4989674#file-zshrc) in my .bash_profile and it was getting used instead.

Using your gifify results in this which looks great:

![recording-node](https://cloud.githubusercontent.com/assets/39759/6220859/5bc419bc-b5f0-11e4-899d-8436c4042c52.gif)

[2015-02-16 23:28] #19 closed

[2015-02-16 23:28] vvo commented on #19
This is what I got:

![recording](https://cloud.githubusercontent.com/assets/123822/6220864/d5f261d0-b63b-11e4-827f-368e79eed252.gif)

[2015-02-16 23:28] vvo commented on #19
NO NO REOPEN! I WANT TO START A LINUX-OSX WAR!!

[2015-02-16 23:28] vvo commented on #19
Glad my script solved your problems, have fun gififying.

please @maxogden sell my shit on twitter!

[2015-02-16 23:32] maxogden commented on #19
has anyone made a Docker container for this yet? If not I will

[2015-02-16 23:34] vvo commented on #19
oww you mean a runnable docker container exposing a binary? that would be cool indeed. MAKE IT HAPPEN!

[2015-02-17 01:57] maxogden commented on #19
@vvo alright here ya go https://github.com/maxogden/gifify-docker

[2015-02-26 21:07] kirbysayshi opened #21 "--fps doesn't take the input fps into account"
If I have a .mov file recorded via quicktime, which records at 60fps, and use gifify, it creates a gif at 10fps. If I run gifify with `--fps 60`, it creates a gif 10x as long as the video, but slowed down.

Adding `--speed 6` seems to have no effect.

I assumed that `--fps` controlled the output fps, but had no effect on how often the frames were sampled. Is there a way to do what I'm trying to do

[2015-02-27 23:46] ttback commented on #18
@vvo Thanks. :)

[2015-02-27 23:46] #18 closed

[2015-03-02 06:47] iansinnott opened #22 "--speed not working?"
I've tried using the `--speed` option to speed up my gif but so far it hasn't worked. Specifically, I've tried using `--speed 2` to try to get the gif to be twice as fast.

How is this option meant to be used?

The full command I used was

[code]

[2015-03-02 08:02] vvo commented on #22
Hi, can you host your movie file somewhere I can download it

[2015-03-02 08:06] iansinnott commented on #22
Sure, here's a [link](http://dropsinn.s3.amazonaws.com/notedown-usage.mov)

[2015-03-04 23:19] steveoh opened #23 "What is happening"
i'm doing
`gifify slurp.mp4 -o slurp.gif`

it creates the `slurp.gif` but with **0 bytes** and no activity on the command line. I'm using version `2.1.1` on osx maveriks.

Is there any way to get progress or stdout activity?

The file is on [github](https://github.com/agrc/Presentations/blob/768d696dad07123b84b3b52518fe4dd5fc4ab072/A%20Few%20of%20our%20Favorite%20Things%202015%20Dev%20Summit/resou

[2015-03-07 15:56] vvo commented on #23
Tried with:

[code]

Then:

[code]

And:

![slurp](https://cloud.githubusercontent.com/assets/123822/6541987/d5cca964-c4ea-11e4-9c6d-a949ae5264d0.gif)

Seems like not resizing failed for me, maybe give it another try.

[2015-03-09 15:37] steveoh commented on #23
Tried with

[code]

Seems that you really need the resize options or it doesn't work.

Thanks.

[2015-03-09 15:37] #23 closed

[2015-03-17 03:34] maxogden opened #24 "quality question"
looking at the original gifify gist, I noticed theres the `--good` option which does this:

[code]

I'm just curious, does this module do a similar trick? I'm asking because I just made this gif with gifify and it has lotsa weird artifacts

![atom-shell-load-events](https://cloud.githubusercontent.com/assets/39759/6680938/d14de636-cc1b-11e4-91fe-c3f8b3f505e0.gif)

[2015-03-18 22:41] vvo commented on #24
Can you try some options from https://github.com/vvo/gifify#command-line-usage:
- colors
- compress

Let me know how it goes.

[2015-04-07 17:20] mrkrstphr opened #25 "error with moment on fresh installation"
Fresh install:

    npm install -g gifify

Results in:

[code]

[2015-04-07 20:31] #25 closed

[2015-04-07 20:32] vvo commented on #25
fixed @mrkrstphr, try

[code]

[2015-06-01 19:57] #24 closed

[2015-06-02 01:07] bfred-it opened #27 "convert needs fontconfig"
I see this error when I try to use gifify on my OS X 10.10

    convert needs fontconfig

I have imagemagick installed via homebrew:

    imagemagick: stable 6.9.0-9 (bottled), HEAD
    …
    ==> Dependencies
    …
    Optional: fontconfig ✔, …

And also

    $ brew install fontconfig
    Warning: fontconfig-2.11.1 already installed

What am I missing?

[2015-06-02 07:22] vvo commented on #27
what's the output of `convert --version`?

[2015-06-03 04:38] bfred-it commented on #27
[code]

[2015-06-03 11:59] vvo commented on #27
It seems that your convert is missing builtin fontconfig, we check for it while trying `convert --version`.

Maybe we should check for `fontconfig` binary, what do you think?

[2015-06-03 12:00] vvo commented on #27
Can you help @pjaspers?

[2015-06-04 07:11] bfred-it commented on #27
My mistake, I guess! I removed imagemagick and reinstalled with the explicit option:

    $ brew install imagemagick --with-fontconfig

    $ convert --version
    Version: ImageMagick 6.9.1-4 Q16 x86_64 2015-06-04 http://www.imagemagick.org
    Copyright: Copyright (C) 1999-2015 ImageMagick Studio LLC
    License: http://www.imagemagick.org/script/license.php
    Features:  Cipher DPC Modules

[2015-06-04 07:11] #27 closed

[2015-06-09 00:17] khalidl commented on #22
Seem that this still isn’t resolved. Have the same problem. And looks like it is related to the following issue: [--fps doesn't take the input fps into account #21](https://github.com/vvo/gifify/issues/21)

[2015-06-09 07:33] vvo commented on #22
Yes @khalidl I need help on this because I could not figure out the fps and speed issue

[2015-06-09 23:21] khalidl commented on #22
@vvo Wish I could help in some way, but my dev chops are not up there. I’ve been trying ffmpeg with [Gifsicle](https://github.com/kohler/gifsicle), which handles fps and speed correctly, but images have more compression.

I can get the speed up by lowering the frames, e.g. setting `--fps 15` on a video which has 25 fps.

Not sure if this has something to do with it at all: [gifify - regarding fram

[2015-07-13 15:40] Nikolaibibo commented on #17
experiencing the same issue with the same code on Mac OSX

[2015-07-22 16:56] OliverJAsh opened #28 "ffmpeg needs libass, fontconfig"
How come I get this error? Do I need a different brew install formula?

[2015-07-22 21:27] OliverJAsh commented on #28
Fixed with `brew install ffmpeg --with-fontconfig --with-libass`

[2015-07-22 21:27] #28 closed

[2015-08-21 14:53] samtgarson opened #29 "Error: convert needs fontconfig"
Hey there.

I'm trying to convert using the following command:
[code]
however I get the following error without anything else:
[code]

Any help please? Cheers

[2015-08-21 17:57] wesbos commented on #29
I got this too - even when I had all the dependencies installed.

I just opened the file and removed the need for these deps because I don't need captions

https://github.com/vvo/gifify/blob/master/bin/gifify#L92-L93

[2015-08-21 19:16] samtgarson commented on #29
Works for me, thanks.

[2015-09-01 13:47] vvo opened #31 "set convert fontconfig as a warning, better error messages to recompile ffmpeg convert"

[2015-09-07 09:10] louisremi opened #32 "Node.js should be listed as a requirement in the README"
voilàvoilà

[2015-09-07 10:48] vvo commented on #32
PR WELCOME!

[2015-09-08 06:31] jonespen opened #33 "Typo in ffmpeg install requirement"
Should be

[2015-09-08 09:28] #32 closed

[2015-09-30 19:08] eek commented on #22
I have the exactly same problem, was able to fix it by moving the delay from `Convert` to `gifsicle`, added a pull request -> #37

[2015-09-30 19:41] #33 closed

[2015-09-30 19:41] vvo commented on #22
Published 2.1.5 with @eek fix, awesome you can now slllloooooooowwnnnnnn doowww or sppppeeed!

[2015-09-30 19:41] #22 closed

[2015-09-30 19:42] vvo commented on #21
speed now working

[2015-09-30 19:42] #21 closed

[2015-11-09 15:03] joemccann commented on #29
Still an issue without @wesbos's change, right?

[2015-11-09 15:06] wesbos commented on #29
Yeah - this should be changed in the source. It should only check for `libass` and `fontconfig` if the thing we are doing requires those things - basic mp4→gif doesn't need them

[2015-11-09 15:35] vvo commented on #29
Open a PR, I will merge

[2015-11-09 15:35] vvo commented on #29
cc @joemccann @wesbos

[2015-12-27 10:00] haffmaestro opened #38 "Programatically tell when gif process is done"
Hey there, trying to make a loop that goes through a folder of movies and converts them all, but I cant seem to figure out how to make it not start making a new gif before the last one finished.

I tried binding to the close callback on the write stream that the gifify command returns, but that doesnt seem to be all that is happening.

Loving gifify though! Any advice on this? Or way to achieve th

[2016-01-04 14:55] vvo commented on #38
Hi, I am also unsure which stream will emit the right event or even what is the good stream event name on a write stream to listen to.

What we could do is add a new option like a callback here: gifify(input, options, callback)

The callback would be called when the last step exits: when "gifcicle" programs exits (https://nodejs.org/api/child_process.html#child_process_class_childprocess)

If you

[2016-01-05 20:13] niftylettuce opened #39 "Incompatible pixel format 'rgb24' for codec 'gif', auto-selecting format 'rgb8'"

[2016-01-05 20:13] niftylettuce commented on #39
I followed installation instructions exactly, all requirements met, yet I don't think `ffmpeg` is installed correctly - maybe you are missing a `--flag` for `brew`?

[2016-01-05 20:15] niftylettuce opened #40 "`-o` output path is only relative, it doesn't allow you to specify folder paths"
if you try doing `-o ~/Desktop/foo.gif` it won't work, it will put `foo.gif` in the same folder as the movie

[2016-01-06 12:17] vvo commented on #39
I dunno, cc @kud maybe, I am on Linux

[2016-01-06 12:17] vvo commented on #40
Should be an easy one to fix if you want to have a try

[2016-01-06 12:21] kud commented on #39
Did you do `brew install ffmpeg --with-libass --with-fontconfig`?

[2016-01-06 16:11] niftylettuce commented on #39
Ya
On Jan 6, 2016 7:21 AM, "Erwann Mest" <notifications@github.com> wrote:

[2016-02-04 01:35] steezeburger opened #41 "Unclear instructions for installing giflossy"
The link just takes you to a page with a packaged download, but downloading and running the Mac OSX script did not work. I ended up cloning the repo and running ```./configure``` and ```make install``` and all was well.

Maybe we can make this more clear in the README?

[2016-02-05 10:59] vvo commented on #41
Yes I am accepting any PR that makes it clearer, thanks!

[2016-02-09 21:18] FrankOcean11 opened #43 "what language is this ?"
what is the used programming language ? on what ide do i run this from and what OS system

[2016-02-10 10:42] vvo commented on #43
It's a CLI utility and a nodejs library relying on UNIX tools.

So either you use it as a command line utility (CLI), or you use it in your nodejs program.

[2016-02-10 10:42] #43 closed

[2016-02-20 13:40] ispal commented on #29
I had this issue, but in my case I had MAMP on my machine which included Imagemagick with different settings. It defaulted to MAMP's version of the library without fontconfig because I had MAMP's bin folder in $PATH before /usr/local in .zshrc. So, check your settings if you are experiencing this issue.

[2016-03-27 03:29] mhulse commented on #41
PR here: https://github.com/vvo/gifify/pull/46

[2016-05-10 10:10] sbsomya commented on #17
I am also experiencing similar error

[2016-05-16 21:33] kilianc opened #49 "gifsicle: unrecognized option ‘--lossy=80’"
[code]

throws

[code]

[2016-05-17 00:36] kilianc commented on #49
my bad, I had wrong binary in my PATH

[2016-05-17 00:36] #49 closed

[2016-05-17 18:10] kilianc opened #50 "convert: no images defined `gif:-' @ error/convert.c/ConvertImageCommand/3257"
[code]

yields

[code]

[2016-05-20 19:38] CreativeWolf opened #51 "Error - gifsicle:<stdin>: empty file"
Heya,

Getting this error while using gifify

[cw@pineserv ~]$ gifify watermelonpup.mp4 -o watermelonpup.gif
gifsicle:<stdin>: empty file

[cw@pineserv ~]$ uname -a
Linux pineserv 3.10.65-4-pine64-longsleep #16 SMP PREEMPT Sun Apr 3 10:56:40 CEST 2016 aarch64 GNU/Linux

According to gifsicle Issue Tracker - https://github.com/kohler/gifsicle/issues/33 - recommended to use -o and -b - Trying to und

[2016-05-25 17:45] vvo commented on #51
can you send the mp4 file?

[2016-05-25 17:46] vvo commented on #50
I have no idea, it might be because the video you are using is not https://gpac.wp.mines-telecom.fr/mp4box/ but I am really not sure, create a reproduction repo

[2016-05-25 17:47] vvo commented on #50
also see https://github.com/vvo/gifify/search?utf8=%E2%9C%93&q=no+decode+delegate&type=Issues

[2016-05-25 17:47] #41 closed

[2016-05-25 18:16] CreativeWolf commented on #51
Unable to upload here - Here's the DropBox link - https://www.dropbox.com/s/ambrvowul83js3i/watermelonpup.mp4?dl=0

[2016-05-25 18:24] vvo commented on #51
![water](https://cloud.githubusercontent.com/assets/123822/15551510/9631da9c-22b6-11e6-83a6-cbf60b9e07e7.gif)

it worked for me, please double check requirements: https://github.com/vvo/gifify#requirements

You need giflossy, not gifsicle

[2016-05-25 19:30] CreativeWolf commented on #51
Checking Requirements:

[code]

[code]

[code]

[code]

[code]

[code]
[code]

Not sure, what I'm missing to get giflossy installed, appreciate your input.

[2016-05-26 09:47] vvo commented on #51
You need to make the `./giflossy` binary available in the PATH I believe.

[2016-06-01 10:18] MJunghenn commented on #17
+1

[2016-06-03 14:14] vvo commented on #17
@asafg84 and everyone here, I was able to put your video into a GIF. So if some videos are not working, check all the requirements and install instructions, test another simple mp4 video, and in last resort: open a new issue, drop your video link and I will try it.

[2016-06-03 14:14] #17 closed

[2016-07-07 21:35] mauron85 opened #56 "Suggestion: crop video"
Hi, outstanding work. Is it possible to add video cropping?

[2016-07-07 21:47] vvo commented on #56
Yes, taking a PR to do so, if ffmpeg has it then we can do it.

[2016-07-07 22:21] mauron85 commented on #56
yeah. ffmpeg does have it https://ffmpeg.org/ffmpeg-filters.html#crop so should be possible

[2016-07-08 07:57] vvo commented on #56
Ok, have a look at the code, you might be surprised how easy it can be to add

[2016-07-08 08:07] mauron85 commented on #56
Definitely. :-) So is it now so, that you will implement it?

[2016-07-08 08:27] vvo commented on #56
Sorry no I will not implement it, but I am really interested in it and I invite you to submit a pull request or having a try at it.

Clone the repo, type npm link in it (it will make gifify available globally), hack the code, try some videos, push a pull request!

[2016-07-08 09:36] mauron85 commented on #56
I feel with you. From my own experience, I know how hard (impossible) is to convince people to do PR. I'll probably take look on it, when I find spare time between my biz and another [open source project](https://github.com/mauron85/cordova-plugin-background-geolocation) I'm working on.

[2016-07-20 20:48] ChaseGiunta opened #60 "Suggestion: throw error when resize option is not present"
As it seems that the `--resize` option is a requirement (seen in my experience and #23) , maybe throw an error if the parameter is not present in command. Unless this is a bug? Gifify will continue to run indefinitely, and not create a write file in location, if not the `--resize` option is not defined

[2016-07-21 08:20] vvo commented on #60
Hi @ChaseGiunta --resize is not always needed strangely it seems. Only in some cases, would you mind digging a bit more to see why?

[2016-07-21 18:08] ChaseGiunta commented on #60
Unfortunately I'm not skilled enough to do so, ha. I can provide the video files (.mp4) if that is of some use.

[2016-07-22 14:25] vvo commented on #60
Yes drop them here so that someone can have a look. I have really no idea on what's going on

[2016-07-23 00:38] ChaseGiunta commented on #60
Apologies, it looks like it **_does_** create a temp file... But it will continue to run indefinitely (I think, I didn't leave it go to because it quickly ate up 5GB for this 7mb .mp4) https://cl.ly/0F3C2S3G1a1I

[2016-07-25 08:49] vvo commented on #60
Maybe there's an underlying bug somewhere in the dependencies stack

[2016-07-28 06:17] fregante opened #61 "Adds the wrong frame near the end when using a custom fps"
[code]

Original mp4 https://cl.ly/go8i

Generated gif: http://i.imgur.com/WDeM4eu.gif (lasts 5 seconds)

[2016-07-28 09:24] vvo commented on #61
I am missing a bit of context or explanation here, could you detail a bit more what's wrong and maybe dig it a bit?

[2016-07-28 13:03] bfred-it commented on #61
Compare the input and output. The MP4 loops smoothly while the GIF doesn't because there's an extra frame before the last frame

[2016-07-31 02:58] UglyMelon007 opened #62 "Could not find convert"
![image](https://cloud.githubusercontent.com/assets/13254781/17274292/75adc642-570d-11e6-8dd3-603f769a5a99.png)

[2016-07-31 03:26] UglyMelon007 commented on #62
I install convert ,it prompt node-waf node found but the node-waf package has been replaced by node-gyp o.o

[2016-07-31 10:21] spencerlim opened #63 "Please push to npm after a bug fix"
Thanks

[2016-08-19 13:13] dimitrieh opened #64 "progress bars"
Is it or can it be possible to get a progress bar when converting a video to gif?

[2016-08-19 19:29] timarney commented on #29
MAMP was my issue as well.

[2016-08-22 13:28] vvo commented on #64
It may be possible but I doubt it would be accurate. Maybe just a simple spinner could help? I agree converting to gif can sometime take a lot of time.

I am happy taking any PR adding something like indicating when gifify is working.

[2016-08-22 13:31] vvo commented on #63
Hi @spencerlim thanks for reporting this, can you link to me what are the commits you would like to be pushed to npm?

[2016-08-22 13:32] vvo commented on #62
Hi @UglyMelon007 this seems a rather windows-related bug. I am not very skilled in those since I am using Linux.

It seems some people managed to get gifify working on windows still like @aledelgo, maybe he can help you?

[2016-08-22 13:35] vvo commented on #61
Hi @bfred-it, I am not able to easily debug this. gifify is a wrapper around command line tools. It would be great if you could dig this. If you or anyone knows why there's an extra frame, please add a comment/open a pull request

[2016-09-08 08:29] kevinsimper commented on #64
I think a start would just be to output something to see that it is not stuck :P

[2016-09-08 08:32] vvo commented on #64
We could but right now the fact that your command line does not returns to the prompt means "It's working"

[2016-09-14 21:46] itsnwa opened #66 "Suggestion: no-loop option"

[2016-09-14 22:47] regosen commented on #62
I'm having the same problem on OSX:

<img width="571" alt="screen shot 2016-09-14 at 3 44 39 pm" src="https://cloud.githubusercontent.com/assets/4589394/18532637/367d98a0-7a92-11e6-8afb-a359fbe8760e.png">

But I already installed that using the instructions here: https://github.com/vvo/gifify#requirements
[code]

[2016-09-14 23:11] regosen commented on #62
I think I figured out the problem.  I had previously installed an older version of imagemagick and had to re-link it:
[code]

[2016-09-15 09:00] vvo commented on #66
I am down for this, send a PR :) The loop option comes from gifsicle, it's just a matter of passing a flag to it: https://www.lcdf.org/gifsicle/

[2016-09-15 09:00] vvo commented on #62
Thanks!

[2016-09-15 13:57] itsnwa commented on #66
Awesome :) thanks 👍

[2016-09-15 14:03] itsnwa commented on #61
@bfred-it have you tried to match the output fps with the input by using `--fps [number of frames per second]` (without brackets)?

[2016-09-16 06:07] bfred-it commented on #61
That does indeed work. I suppose the issue is specifically when the specified framerate doesn't match the input's, even though it's a factor of that.

[2016-09-16 09:30] vvo commented on #61
@bfred-it Maybe we can add that tot the readme?

[2016-09-16 09:52] bfred-it commented on #61
If that never works with any video then it's best to remove the option and read/set it directly from the video. This last part could be the default behavior anyway.

[2016-09-16 10:39] vvo commented on #61
I maybe failed at the fps computing between:
- ffmepg
- gifsicle

see https://github.com/vvo/gifify/blob/0b67f6df9d70d9f08ddcefc575450189dd75cb50/index.js#L172 and https://github.com/vvo/gifify/blob/0b67f6df9d70d9f08ddcefc575450189dd75cb50/index.js#L103

[2016-09-16 10:40] vvo commented on #61
https://trac.ffmpeg.org/wiki/How%20to%20speed%20up%20/%20slow%20down%20a%20video some info on ffmpeg.

[2016-09-25 00:45] lcjury opened #67 "Problems creating image"
I'm trying to convert part of .mp4 file but I get the following error:

convert: no decode delegate for this image format `' @ error/constitute.c/ReadImage/504.
convert: no images defined`gif:-' @ error/convert.c/ConvertImageCommand/3257.

Reinstalled everything from the readme but still getting the same error message, any advice?

[2016-09-26 07:58] vvo commented on #67
Could you link me the mp4 video so I can try it? Thanks

[2016-10-20 09:34] skovmand commented on #29
Also got this problem. Frustrating.

[2016-10-21 05:55] vvo commented on #29
One way to solve this @skovmand would be to be not that picky about requirements and let error propagates when the user actually tries to use such flag like captions: https://github.com/vvo/gifify/blob/master/bin/gifify#L92-L93

Open to a PR solving this all

[2016-11-03 12:52] #66 closed

[2016-11-11 07:44] dhruvkjaura opened #73 "Unable to use end time (--to)"
I've tried across different source videos and different configurations, the gif does start from the defined start time, however, doesn't end based on the "to" value passed. The final gif goes all the way till the end of the video which is the default setting.

[2016-11-12 13:23] vvo commented on #73
If I remember well, I think --to means "duration" when used with --from. Can you try that? Then it would be a readme update or fix.

[2016-11-22 03:21] jblamber commented on #67
I received this error when I tried to turn a segment of a movie that didnt exist into a gif. For example, in a 5 second video, asking to convert seconds 30-35 into a gif. The app would crash with this error.

[2016-11-22 03:38] jblamber commented on #50
In my case, this was because I was trying to convert a portion of a video that didnt exist - say seconds 30-34 of a 7 second mp4.

[2016-12-02 17:49] okfirelee opened #77 "how to compress"
i need a simple ex thx

[2016-12-02 17:49] okfirelee commented on #77
compress gif size      50M to 20 or 2M

[2016-12-02 20:07] vvo commented on #77
Hi, I am sorry I could not understand what is your issue right now. Can you add more context, longer sentences and an actual question? Thanks.

[2016-12-03 09:23] okfirelee commented on #77
I would like to put a GIF image file by the size of 50M compressed to 30M or smaller

[2016-12-03 11:47] vvo commented on #77
Hi @okfirelee, this repository is a project to generate GIFS from mp4, you may try google for optimizing GIFS, or stackoverflow. I am sorry but your issue description is too small to be able to help you here. Good luck

[2016-12-03 11:47] #77 closed

[2016-12-11 15:56] jmbeach commented on #64
@vvo or is it?

[2016-12-14 16:46] vvo commented on #64
I did not get what you meant. I am open to any PR adding a funny emoji spinner anything you want :)

[2016-12-14 17:03] jmbeach commented on #64
Sorry, I was just kidding. `gifify <whatever> && say done` works just fine for me.

[2016-12-14 17:09] vvo commented on #64
NP :dancer:

[2017-01-03 20:11] oeon commented on #73
I was getting blurry/fuzzy output (perhaps separate issue) when I tried to convert my entire .mov selection to .gif, so I tried breaking it up.

`gifify -o cleanup-formula0.gif --to 00:00:21 cleanup-cmd.mov --resize 950:-1 --speed 2` worked

`gifify -o cleanup-formula1.gif --from 00:00:23 --to 00:00:38 cleanup-cmd.mov --resize 950:-1 --speed 2` worked

`gifify -o cleanup-formula2.gif --from 00:00:

[2017-02-12 22:22] lithiumlab commented on #38
Hey guys;

I think i have nice solution working for this.
This snippet grabs all .mp4 from a folder and process them one by one, exported to the /out folder.

Im hooking on the 'finish' event of the writeableStream. Works great. I have just processed 600 videos with excellent results.

I can make this contribution to the examples folder, i have a few ideas already to improve ouput while processing

[2017-02-28 08:21] fdile commented on #9
Does any of you installed giflossy on raspberry pi?

[2017-02-28 10:58] vvo commented on #9
@fdile You should open an issue on the giflossy/gifsicle repository directly.

[2017-03-24 18:25] keitharm opened #92 "Installing version 2.3.0 = npm ERR! cb() never called!"
It looks like version 2.3.0 of gifify is broken when you try to install it via npm or yarn.

`$ npm i gifify -d`:
[code]

`$ yarn add gifify`:
[code]

I downloaded versions 2.2.2 and 2.3.0 and extracted the archives manually to see if I could find the problem and it looks like the only difference between the 2 versions (other than the src code) is a missing yarn.lock file and .npmignore.

`2.2.2`:

[2017-03-26 02:11] ztz0223 commented on #92
Yes, I have this issue also, and I must set version as 2.2.2.
Could you be kind to fix this?
Thanks.

[2017-03-26 17:06] cerebroo commented on #51
I am also experiencing the same i.e. getting gifsicle:<stdin>: empty file.

Installing giflossy following the steps mentioned on their github readme installs gifsicle. So steps taken by @CreativeWolf to install dependencies appears to be fine.

[2017-03-26 18:26] keitharm commented on #40
This looks like it is working for me on macOS.

[2017-03-26 18:31] cerebroo commented on #51
Figured it out. It was happening because of this issue:
https://github.com/vvo/gifify/issues/60

i.e. use --resize option and it will work fine.

[2017-03-26 18:39] vvo commented on #92
Just released 2.4.0, happy gifying, sorry for the mess.

[2017-03-26 18:39] #92 closed

[2017-03-26 18:40] vvo commented on #92
![image](https://cloud.githubusercontent.com/assets/123822/24334092/6857270a-1264-11e7-91e0-f5bcd28471c0.png)

[2017-04-02 14:54] gkhays commented on #62
TL;DR: Create a Windows batch file in the path used by `gifify`, e.g.

[code]

I ran into the problem on Windows 10. There is already a system utility named `convert` that is used for file system conversion.

[code]

Additionally, I am using ImageMagick-7.0.5-Q16. I found a couple of articles indicating the functionality of convert has been replaced by `magick` in version 7.

* http://stackoverflo

[2017-04-03 01:50] lobabob opened #93 "Passing in a Readable stream to gifify does not work in node"
If I do
[code]
it works, but if I do
[code]
it fails with the following
[code]

[2017-04-03 07:46] vvo commented on #93
Have a look at the other issues: https://github.com/vvo/gifify/search?q=no+decode+delegate+for+this+image&type=Issues&utf8=%E2%9C%93

[2017-04-04 14:29] ahmadawais commented on #29
Simply uninstall all the dependencies and reinstall them as stated in the readme.md file :)

[2017-04-04 16:04] polyrhythmatic commented on #73
I'm having an issue with --from and --to as well. Seems to ignore --from completely.

I have tried the following with no success with any.

[code]

[code]

[code]

No matter what I try, --from does not set the start point.

[2017-04-05 21:15] 3raxton commented on #28
When I get this issue Terminal comes back with:
[code]
What do I do in this case?

[2017-04-06 07:43] vvo commented on #28
You should first remove it then reinstall. `brew uninstall ffmepg` should do it

[2017-06-10 14:55] UNST4BL3 opened #94 "Maximum call stack size exceeded."
OS: Debian 8 x64
Node: v8.1.0
NPM: v5.0.3

**Receiving this error:**
[code]

**With this code:**
[code]

[2017-06-11 11:47] Beanow opened #95 "Neither dependency works on 2.4.0"
When installing giflossy it says:
[code]

When installing gifsicle it say:
[code]

Using cli interface and global installs.

[2017-06-11 11:59] Beanow commented on #95
As a workaround I used this in linux to fake the name.
[code]

[2017-06-11 12:07] Beanow commented on #94
Same issue v2.4.0 gifify with giflossy.
Ubuntu 16.04 based, node v6.9.4, npm 3.10.10

[2017-06-11 12:09] Beanow commented on #94
I think the error is due to:
https://github.com/vvo/gifify/blob/master/index.js#L49

[code]

The `gifsicle` error event, would emit another `gifsicle` error.

[2017-06-13 11:35] vvo commented on #94
Any of you can try to fix this? I am not yet using node v8.

[2017-06-13 11:36] vvo commented on #95
I have no idea of the issue.

[2017-06-13 11:40] Beanow commented on #95
The problem is you're using `spawn` to detect the dependency. So if `gifsicle` is not an executable that has a `--lossy` param in it's usage string, it will give either error. Because `npm install -g giflossy` does not give you a `gifsicle` executable, but `giflossy` you can't use it as a drop-in replacement. You would need to detect which of the two is available.

[2017-06-13 11:41] Beanow commented on #94
It's not v8 specific. Whenever the gifsicle object emits an error, you get an infinite loop of emitting more errors. You need to handle gifsicle's error events differently and it will fix this issue. What the error was that gifsicle emitted is a different issue.

[2017-06-13 11:42] vvo commented on #94
Taking PRs to solve this.

[2017-06-13 11:44] vvo commented on #95
I think we are fine asking for a non-npm installation of giflossy. Also I have high hopes lossy will be part of gifsicle, soon.

If you want to add that check, accepting PRs still

[2017-06-13 11:45] Beanow commented on #94
I'll pass since I haven't looked into it enough to see how you *want* error handling to work. I just butchered it to find my underlying problem was #95.

[2017-07-18 06:53] meera commented on #39
I am getting same error

Here is the command
ffmpeg -i in.mov -s 200x200 -pix_fmt rgb24 -r 10 -f gif - | gifsicle --optimize=3 --delay=3 > out.gif

ffmpeg version 3.3.2 Copyright (c) 2000-2017 the FFmpeg developers
  built with Apple LLVM version 8.0.0 (clang-800.0.42.1)
  configuration: --prefix=/usr/local/Cellar/ffmpeg/3.3.2 --enable-shared --enable-pthreads --enable-gpl --enable-version3 --enab

[2017-08-03 00:28] tkdan235 opened #96 "Convert dependency issue"
I am running 10.12.6 and followed https://github.com/vvo/gifify#requirements exactly.

[code]

[2017-08-06 18:47] karuppiah7890 commented on #96
@tkdan235 Check if `convert` is installed using this command

[code]

[2017-08-07 12:43] karuppiah7890 opened #97 "gifify is hanging the computer while converting even small video files"
My computer literally hangs while trying to convert 10 seconds of a 5 MB video to GIF. And sometimes it takes too long to convert it into a GIF, but it does finally. And my computer has 4 GB RAM

[2017-08-07 17:33] tkdan235 commented on #96
[code]

[2017-08-07 17:39] karuppiah7890 commented on #96
There. You see the error

[2017-08-07 17:40] karuppiah7890 commented on #96
May be reinstall ImageMagick. Or install from source and while configuring use `./configure --enable-shared`

[2017-08-17 12:49] fractalawareness commented on #39
I have the same issue, is there are any workaround?

[2017-08-28 19:40] vvo commented on #97
I am sorry yes I do also find the processing to be REALLY HEAVY, I don't know how to solve that ultimately.

[2017-09-19 23:07] eight04 commented on #96
Seems that you can't directly map `convert` to `magick convert` on Windows, but have to check `Install legacy utilities` option:
![image](https://user-images.githubusercontent.com/1324510/30619464-253925c8-9dd2-11e7-9b39-b015f5841496.png)

Or you will get an error like:
[code]

[2017-10-24 13:52] fogine commented on #97
Well, at the current state it's unusable. While converting 800k 60sec mp4 it eats all 16GB of available RAM... and without swap it crashes right after...

[2017-10-26 15:12] pixelastic commented on #97
I've recently installed `gifify` on a new laptop, and I can confirm it hangs even for short recordings, and freezes my whole laptop, forcing me to a hard reboot.

The only difference I can think of is the version of ffmpeg installed that is newer on this laptop, but I don't know how I could fix it.

As a workaround, I've re-implemented the gifify logic I needed with commandline tools: `ffmpeg` to

[2017-10-26 15:14] vvo commented on #97
There might be a flag used in gifify that is triggering this indeed. Long time I used gifify. I just use gifox when recording which have very good results: https://gifox.io/

Do try to change some flags if you want gifify speed back, let us know!

[2017-11-05 15:11] p00j4 commented on #39
ok, here is what step by step to get the ffmpeg work on MAC. This might not be the same case with all but may be with majority hence posting how did I got it working on my machine.

1. brew install ffmpeg
2. but when I run the command, I get this error at the last line of logs
```Incompatible pixel format 'rgb24' for codec 'gif', auto-selecting format 'rgb8' at the last line.``` 3. And I ended up

[2017-11-08 13:20] bengsfort commented on #39
+1 `brew install gifsicle` fixed it for me. Thanks @p00j4!

[2017-11-14 07:15] AntiMoron commented on #64
I need it because I don't know whether it's dead looping or just dead lock somewhere. Let me know what's its progress dose help.

[2017-11-26 04:22] sitexa commented on #29
Same problem encounter today.

[2017-12-04 13:47] arthurlutz opened #99 "convert-im6.q16: cache resources exhausted"
On some video files (not all) I get the follow error and the produced file is empty :

[code]

[2017-12-04 14:08] arthurlutz commented on #99
The video was 30 seconds long, I ended up doing three runs of 10 seconds and that works...

[2018-01-18 19:28] waldyrious opened #100 "default output to file with original filename + gif suffix"
IMHO, for for binary output, writing to a file is a more reasonable default (and a [more likely expectation](https://en.wikipedia.org/wiki/Principle_of_least_astonishment)) than printing to stdout. I would suggest swapping the default behavior around, and provide output to stdout via a `-` as is common with many other tools.

[2018-01-18 19:31] waldyrious commented on #64
IMHO an explicit message like "converting, please wait..." would tell the user that this is normal and expected behavior, rather than a possible hang up, as others have said.

An animated spinner, and even an actual progress bar, would be nicer for sure, but I'd say that simply printing a message like the above would go around 80% of the way (if not more) to solve the core issue here.

[2018-01-19 09:51] waldyrious commented on #64
For someone who's not familiar with this code (or this sort of code), would you mind giving a pointer or two? According to https://github.com/vvo/gifify/blob/master/bin/gifify#L42, the right place to add such a message would be at [`encode()`](https://github.com/vvo/gifify/blob/master/bin/gifify#L52), but what's the method that should be used to print such a message?

[2018-01-19 10:05] vvo commented on #100
Works for me that would be better, wanna do it? Submit a PR!

[2018-01-19 16:31] vvo commented on #64
As to updating the behaviour and usage, first you could update the usage here: https://github.com/vvo/gifify/blob/8375290c5a8b1d994e261340140ff115dc72991a/bin/gifify#L14

Then I would add a new flag that would mean 'stdout' (not just "-", might be tricky to handle or remember).

Any examples of unix programs having -o and - or any other flag like that? Maybe curl?

[2018-01-19 17:14] waldyrious commented on #64
I think you your comment was meant for #100, right?

[2018-01-19 20:51] vvo commented on #64
Oh yeah, sorry I misread that.

As far as putting a "loading message" I would give a try here: https://github.com/vvo/gifify/blob/8375290c5a8b1d994e261340140ff115dc72991a/bin/gifify#L72

Which is the place where we already checked parameters etc.

Give it a try locally:

[code]

Then submit a PR, let me know!

[2018-01-21 23:30] waldyrious commented on #64
Thanks for the detailed steps. I was still unsure what function to call to write to stdout, but hopefully #101 does the right thing. It certainly seemed to work locally as intended.

[2018-01-30 16:01] fatso83 commented on #99
Same problem. Tried making a gif out of a 45 second gif. Both this and the following script ends with the same error:
[code]

[2018-02-12 23:28] Viral-Inc opened #102 "Suggestion: node install option"
I think this "docker-gifify" package is worthy of being linked to as an option for drop-in Dockerfile dependency installation:

https://github.com/bcbcarl/docker-gifify/blob/master/Dockerfile

I kind of can't believe how easy it made getting gifify running in gcloud containers.

[2018-02-13 11:05] vvo commented on #102
Hey there's also https://github.com/maxogden/gifify-docker, linked in the readme, maybe update the readme and add it to the top somewhere? Thanks

[2018-02-14 17:19] #102 closed

[2018-02-27 07:15] mclxly opened #103 "Please help, I can't make example work"
I clone the entire codebase to my computer. Run 'node example/index.js' after 'npm i':
[code]

[2018-02-27 14:28] vvo commented on #103
Just tried and it worked, maybe check you have the right dependencies?

Also maybe checkout https://github.com/sindresorhus/gifski-app which is the latest cool kid on the block

[2018-02-28 00:55] mclxly commented on #103
@vvo Thank you! Command line it works but programmatic doesn't.

Btw, I'm going to build a web service to convert mp4 to gif.

[2018-03-06 16:58] maxp-edcast commented on #29
uninnstallinng imagemagi ck and reinstallingn with the flag did not fix this issue.

[2018-03-31 13:37] bikowalczyk opened #104 ""TypeError: Cannot set property 'inputFilePath' of undefined""
Hello, I'm trying to create a node js app , which will first download a mp4 file, then convert it into gif.
The video file is created successfully, but when I begin to convert it, I get this error:

![image](https://user-images.githubusercontent.com/34490652/38163712-dc3b7efc-34f8-11e8-8072-19c854076856.png)

This is my node js code:
[code]

Do you know what may cause the issue?

Thanks ;)

[2018-04-10 11:08] Avolition opened #105 "Insecure dependency"
NPM gave the following warning on install:

`npm WARN deprecated whereis@0.4.1: whereis <= 0.4.0 is unsecure, switch to which package: https://github.com/npm/node-which`

I may take a look at  forking and updating, but I'm a newb; not sure how successful I'll be.

[2018-04-11 15:35] #104 closed

[2018-04-11 15:35] #105 closed

[2018-04-11 15:35] vvo commented on #104
just published a new version, try it

[2018-04-12 01:51] ianzitow commented on #99
Try this: https://github.com/ImageMagick/ImageMagick/issues/396

[2018-07-16 18:41] hyperknot opened #106 "How to convert sequence of PNGs"
I'd like to convert a sequence of PNG files, showing each for 2 seconds.
I prefer not to export to an mp4 file temporarily, as that'd ruin quality.

How is it possible to do this in gifify in the best possible quality?

[2018-07-17 06:38] vvo commented on #106
I think you will have more chances just using ffmpeg, search for your question on google or stackoverflow.

gifify goal is to turn mp4 into gifs that's it.

thanks!

[2018-07-17 06:38] #106 closed

[2018-07-29 15:21] dellagustin opened #107 "Resulting gif has wrong FPS"
I have generated the following gif from a clip captured from a NES emulator.
![output](https://user-images.githubusercontent.com/260113/43367807-3e10b724-9353-11e8-92e8-210a0bd72337.gif)

I generated with the option --fps 60 on the command line, but the resulting gif is too slow. (tested in different browsers)

Here a properties from the Media Player:
Video: LAGS 256x224 60.1fps 14667kbps [V: laga

[2018-08-03 19:02] kahlilashanti commented on #29
installing [per the documentation](https://github.com/vvo/gifify#requirements) with flags did not solve it for me.  any updates?  thanks!

[2018-09-06 02:43] gcarlosr opened #108 "Need Design Logo?"
Hi, I have seen how good your app looks and the functions it has, I would like to make a contribution to the logo design for your app. I am a graphic designer and I make contributions to open source applications. If you are interested let me know your concerns and if you have thought about making this change to your app. Thanks and apologies in advance for opening this issue, I await your response

[2018-09-06 16:09] vvo commented on #108
Welcoming any contributions and a Logo would be really awesome so go for it yes!

[2018-09-06 19:07] gcarlosr commented on #108
Excellent, thanks for the opportunity, I would like to know according to your tastes, any particular color or shape that you would like to see in the logo. this would help me give you a better proposal.

[2018-09-07 09:00] vvo commented on #108
Really I am open to anything, gifify is a command line tool to simplify the transformation of videos into GIFs, maybe that's a good start to make sure those feature points are somehow represented in the logo.

Or it can even not at all be represented and you can go for something more abstract.

[2018-09-12 15:54] gcarlosr commented on #108
Ohh thanks for answering friend, I hope to be able to give some proposals in the coming weeks.

[2018-10-31 12:47] heyheni opened #109 "MacOS Mojave: Brew prepends libtool with a "g" and breaks gifify"
Hi thank you for creating gifify!
When i was installing gifify I was greeted with this message.

after that the result was that gifify did't work

Thank you for resolving this.

[2018-11-05 13:05] vvo commented on #109
@heyheni could you submit a PR to solve this? You should be able to check that we are on a specific version of macos using nodejs process api

[2018-11-06 03:21] ldexterldesign opened #110 "Fix/review --resize option #Help"
Hi,

Hope you're well

Thanks for software

`--resize` not working for me today, wondering if anyone else has any issues too..?

Input:

`gifify [url] --resize 360:-1`

Output:

Successful but gif size is the same as the original (i.e. 720:1152)

For reference, uploaded my input file[e]

If you have any issues (e.g. questions/queries) happy to help

Hope this is clear/useful and to hear back

Your

[2018-11-14 14:31] ldexterldesign commented on #110
BUMP

[2018-11-15 09:36] vvo commented on #110
@ldexterldesign I am not actively maintaining this. Try with different source videos, last time I checked that resize options definitely worked. Maybe ffmepg updated their API.

[2018-11-15 15:53] ldexterldesign commented on #110
Thanks for reply

Just tried with .mkv, .mov and .mp4 - same issue

Appreciate you're not actively maintaining this project but can you reproduce my issue?:

If yes, then I'll follow up

If no, I'll assume it's a local issue and I'll follow up next time I reinstall my OS

IMO pretty big feature to leave broken

If you have any issues (e.g. questions/queries) happy to help

Hope this helps and to h

[2018-11-15 21:39] ericat commented on #29
Same, I get:
[code]

[2018-11-22 08:52] ldexterldesign commented on #110
BUMP

[2018-11-22 10:15] vvo commented on #110
@ldexterldesign Unfortunately I won't be able to answer you or help you out here, better ask on Stack Overflow maybe or switch to another tool to do so

[2018-11-22 10:15] vvo commented on #110
I will indicate this repository as no more maintained to make this clear, thanks

[2018-11-22 10:17] vvo commented on #110
![image](https://user-images.githubusercontent.com/123822/48896560-2b851c80-ee48-11e8-8e41-37d04c2d7276.png)

[2018-12-04 10:46] juan-cortes commented on #28
*ffmpeg

[2018-12-05 15:58] KevinWang2025 commented on #27
How to  --with-fontconfig use in centos 7?

[2019-02-12 06:31] eight04 opened #111 "Pass additional arguments to ffmpeg"
I want to pass some filter options to ffmpeg. Currently, I have to re-encode the video through ffmpeg then call gifify. I think we can have an option to avoid the additional file. Or is there an alternative way to handle this situation?

[2019-02-13 18:18] keepitcomplicated opened #112 "Homebrew removed formula options"
Since I can't instally anything with options through homebrew, does anyone have a solution to keep gifify working?

[2019-02-21 07:54] datou0412 commented on #112
brew install ffmpeg --with-libass --with-fontconfig no longer works

Error: invalid option: --with-libass

[2019-02-22 15:06] Zantier commented on #112
If you're not adding text to the gif, a workaround is to install the packages without the options, and then modify gifify to remove a requirement on the `convert` command from imagemagick.

[code]

(With version 2.4.2 of gifify) Comment out line 101 of `/usr/local/lib/node_modules/gifify/bin/gifify`:

[code]

I assume this will be overwritten if you ever update the package.

[2019-03-06 02:01] hyperknot commented on #112
Thanks @Zantier for the update. I think we should make a PR about it, if the project is unmaintained at least it should install on recent homebrew.

@vvo would you accept a PR with that line commented out, so that it can continue to work on macOS?

[2019-03-06 07:35] vvo commented on #112
Yes please do and Ill release, anyone willing to maintain this?

[2019-03-06 15:29] hyperknot commented on #112
@vvo I've submitted two PRs regarding the homebrew update.

I think this tool is working really nicely, does it really need that much maintenance? I mean it's an offline command line tool, calling external applications, there isn't any security risk like on a web server. I think if you only do maintenance releases occasionally and no new features, it can work for the foreseeable future, wouldn't i

[2019-03-06 15:31] hyperknot commented on #109
Don't use homebrew to install gifify, that formula is broken. Simply install it with node and it'll work nicely, based on what's written in the readme.

[2019-03-06 20:25] vvo commented on #112
yes yes, just I am not watching this repository, thus if you need me to do something, ping @vvo :)

[2019-03-06 20:26] vvo commented on #112
Thanks for that :)

[2019-03-06 20:27] #112 closed

[2019-03-06 20:27] #109 closed

[2019-04-18 03:53] nicolas-raoul commented on #95
Still no giflossy in Ubuntu 2019.04's gifsicle.

[2019-08-12 01:06] BryanSharp commented on #28
Error: bison: undefined method `uses_from_macos' for #<Class:0x0000000101c1ff78>

[2019-12-04 13:09] Mark117 opened #116 "--from and --to not correctly creating the gif to the desired time"
I am trying to create a gif using the `--from` and `--to` options. For demonstration purposes, I'm creating a gif that should be 1 second long.

My command is `gifify movie.mp4 -o movie1.gif --from 33 --to 34 --resize 500:-1`. The problem is that regardless of the time that I specify, I'm always getting a 25-second gif

I have also tried using the full `hh:mm:ss` timestamp and the video length is

[2019-12-04 15:41] vvo commented on #116
weird, best option would be to 1. cut the video yourself for example with https://online-video-cutter.com/ and then use gifify and see how it goes.

if you're just looking for easy to use desktop tools, maybe https://github.com/sindresorhus/Gifski would be easier nowadays, good luck!

[2019-12-04 17:30] Mark117 commented on #116
Thanks very much for the response. I figure this might have been an issue with an update to FFmpeg. I have run the FFmpeg commands directly and the video is correctly trimmed to the time.

[2019-12-04 17:30] #116 closed

[2020-02-28 01:28] jmbeach commented on #62
Like gkhays pointed out, there is an exe in System32 which windows will pick up first. To fix this in powershell you can run this: `$env:Path = "C:\Users\jared\path-to-convert\;$env:Path"`

Now the imagemagick convert exe gets found.

[2020-02-29 04:56] brookjordan opened #117 "Gif lossy has been merged"
Let’s get this working without the extra dep!

[2020-03-01 22:46] vvo commented on #117
@brookjordan can you submit a PR to solve that? Not sure to understand what needs to be done :)

[2020-03-04 16:27] brookjordan commented on #117
I can’t right now, but if I get a chance I’ll be sure to have a look!
I’ve never touched any of this code, so it’d take a while.

[2020-04-05 00:04] jtoy commented on #95
just ran into same thing

[2020-04-15 20:20] Sawiq commented on #95
Same in Linux Mint 19.3 - gifsicle version 1.91, while current-one is 1.92. Maybe it is worth to ping debian package maintainer?

After installation of giflossy via npm globally I have got gifsicle soft link. If there is no gifsicle executable Beanow solution will work for sure.

[2020-07-25 11:41] AlexandreBonneau commented on #99
It seems that issue could be closed, since the workaround described in #396 works great (ie. increasing the available memory in the `/etc/ImageMagick-6/policy.xml` file).

[2020-07-26 10:17] vvo commented on #99
Hey @AlexandreBonneau, can you give a link to the workaround? thanks!

[2020-07-27 20:06] AlexandreBonneau commented on #99
@vvo I was referring to the issue #396 mentioned just above. I edited my comment to add the link.

[2020-07-28 11:56] vvo commented on #99
Thanks, for anyone following this, here's the workaround: https://github.com/ImageMagick/ImageMagick/issues/396#issuecomment-319569255

[2020-07-28 11:56] #99 closed

[2020-09-28 13:47] #67 closed

[2020-10-08 05:13] #61 closed

[2021-06-02 10:37] #97 closed

[2021-09-08 09:51] sevku opened #118 "requirement not automatically installed"
[code]

results in:
[code]

which can be solved with:
[code]

maybe it would be possible to do this automatically?